<div class="container">
  <div class="row">
  <h1>Welcome to Dashboard</h1>
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      
    </div>
    <div class="form-group">
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<button type="submit" class="btn btn-primary"
										ng-click="signin()" class="form-control"
										ng-disabled="userForm.$invalid ">Login</button>
									&nbsp; &nbsp;
									<button type="reset" class="btn btn-primary" ng-click="reset()"
										class="form-control">Reset</button>
								</div>
							</div>
						</div>
  </div>
</div>