<div class="container">
	<form name="userForm" novalidate>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading"
					style="background-color: #009999; text-align: center;">
					<h1>Signin Form</h1>				
				</div>

				<div class="panel-body" style="background-color: #009999;">
					<div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6">

									<label>Email:</label> <input type="text" name="email"
										ng-model="email" placeholder="Enter Email Id" ng-minlength="4"
										ng-maxlength="15" class="form-control" ng-required="true"
										ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
									<div style="color: red"
										ng-show="userForm.email.$touched || userForm.email.$submitted">
										<span ng-show="userForm.email.$error.required">email id
											is required</span> <span ng-show="userForm.email.$error.minlength">minimum
											length must be 4 characters</span> <span
											ng-show="userForm.email.$error.maxlength">maximum
											length must be 15 characters</span> <span
											ng-show="userForm.email.$error.pattern">email must
											consist of @ symbol ending by .com </span>
									</div>
								</div>
							<div class="col-sm-6 col-md-6 col-lg-6">
									<label>Password:</label> <input type="password" name="password"
										ng-model="password" placeholder="Enter password"
										ng-minlength="8" ng-maxlength="12" class="form-control"
										ng-required="true"
										ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
									<div style="color: red"
										ng-show="userForm.password.$touched || userForm.password.$submitted">
										<span ng-show="userForm.password.$error.required">password
											is required</span> <span
											ng-show="userForm.password.$error.minlength">minimum
											length must be 8 characters</span> <span
											ng-show="userForm.password.$error.maxlength">maximum
											length must be 12 characters</span> <span
											ng-show="userForm.password.$error.pattern"> Must
											contain one lower &amp; uppercase letter, and one non-alpha
											character (a number or a symbol.)</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<button type="submit" class="btn btn-primary"
										ng-click="LoginFn()" class="form-control"
										ng-disabled="userForm.$invalid ">Login</button>
									&nbsp; &nbsp;
									<button type="reset" class="btn btn-primary" ng-click="reset()"
										class="form-control">Reset</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</form>
</div>